.pull-start {float:left;}
.pull-end {float:right;}
.text-start {text-align:left;}
.text-end {text-align:right;}
.media > .pull-start {margin-right: 10px;}
.media > .pull-end {margin-left: 10px;}

.icon-align-start {background-position: -264px -48px;}
.icon-align-end {background-position: -312px -48px;}
.icon-indent-start {background-position: -384px -48px;}
.icon-indent-end {background-position: -408px -48px;}
.icon-chevron-start { background-position: -432px -72px; }
.icon-chevron-end { background-position: -456px -72px;  }
.icon-arrow-start {background-position: -240px -96px;}
.icon-arrow-end {background-position: -264px -96px;}
.icon-hand-start {background-position: -168px -144px;}
.icon-hand-end {background-position: -144px -144px;}
.icon-circle-arrow-start {background-position: -264px -144px;}
.icon-circle-arrow-end {background-position: -240px -144px;}


 
.carousel-control.prev { left: 15px; right: auto; }
.carousel-control.next { right: 15px; left: auto; }
 
.top-start {position:absolute;left:0;top:0}
.top-end {position:absolute;right:0;top:0}
.bottom-start {position:absolute;left:0;bottom:0}
.bottom-end {position:absolute;right:0;bottom:0}

pre,code {direction:ltr;}

[dir=rtl] .pull-start {float:right;}
[dir=rtl] .pull-end {float:left;}
[dir=rtl] .text-start {text-align:right;}
[dir=rtl] .text-end {text-align:left;}
[dir=rtl] .media > .pull-start {margin-left: 10px;}
[dir=rtl] .media > .pull-end {margin-right: 10px;}

[dir=rtl] .icon-align-start {background-position: -312px -48px;}
[dir=rtl] .icon-align-end {background-position: -264px -48px;}
[dir=rtl] .icon-indent-start {background-position: -408px -48px;}
[dir=rtl] .icon-indent-end {background-position: -384px -48px;}
[dir=rtl] .icon-chevron-start { background-position: -456px -72px;  }
[dir=rtl] .icon-chevron-end { background-position: -432px -72px; }
[dir=rtl] .icon-arrow-start {background-position: -264px -96px;}
[dir=rtl] .icon-arrow-end {background-position: -240px -96px;}
[dir=rtl] .icon-hand-start {background-position: -144px -144px;}
[dir=rtl] .icon-hand-end {background-position: -168px -144px;}
[dir=rtl] .icon-circle-arrow-start {background-position: -240px -144px;}
[dir=rtl] .icon-circle-arrow-end {background-position: -264px -144px;}



[dir=rtl] .carousel-control.prev { right: 15px; left: auto; }
[dir=rtl] .carousel-control.next { left: 15px; right: auto; }
 
[dir=rtl] .top-start {position:absolute;right:0;top:0}
[dir=rtl] .top-end {position:absolute;left:0;top:0}
[dir=rtl] .bottom-start {position:absolute;right:0;bottom:0}
[dir=rtl] .bottom-end {position:absolute;left:0;bottom:0}
